
.navbar, .navbar-inner { background-color: #fff; background-image: none; border-radius: 0px; }
.navbar, .nav { margin-bottom: 0px; }
.navbar .nav > li > a { color: #343c5d; }

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus { color: #343c5d; }
	.navbar .nav > li > a:after { display:block; width: 100%; height: 4px; background-color: transparent; content: ''; }
	.navbar .nav > .active > a:after { display:block; width: 100%; height: 4px; background-color: #f45643; content: ''; }
	.navbar .nav > li > a:hover:after { display:block; width: 100%; height: 4px; background-color: #f45643; content: ''; }

footer { background-color: #333c5c; padding-left: 20px; padding-right: 20px; line-height: 35px; } 
	footer ul { margin: 0;}
		footer ul > li { color: #e3e4e9; font-size: 12px; }
			footer ul > li a, footer ul > li a:hover, footer ul > li a:focus, footer ul > li a:link { color: #e3e4e9; text-decoration: none; }
			footer ul > li a:hover { color: #f45643; }
		footer ul li.active a { color: #f45643;}
	footer ul li a.social { display: block; height: 21px; width: 21px; margin-top: 8px; }
	footer ul li a.facebook { background: transparent url('../img/facebook.png') no-repeat ; }
		footer ul li a.facebook:hover { background: transparent url('../img/facebook_hover.png') no-repeat ; }
	footer ul li a.twitter { background: transparent url('../img/twitter.png') no-repeat ; }
		footer ul li a.twitter:hover { background: transparent url('../img/twitter_hover.png') no-repeat ; }
	footer ul li a.linkedin { background: transparent url('../img/linkedin.png') no-repeat ; }
		footer ul li a.linkedin:hover { background: transparent url('../img/linkedin_hover.png') no-repeat ; }

section.hero { position: relative; width: 100%; bottom: 0px; overflow-x: hidden; }
.carousel { margin-bottom: 0px; }
.carousel-inner div { display: block; width: 100%; height: 100%; position: relative; overflow: hidden; text-align: center;  }
/* Home Carousel */
section.hero.signup .carousel-inner div:nth-child(1) { background: url('../img/home.slide.1.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover; top: 0%; }
section.hero.signup .carousel-inner div:nth-child(2) { background: url('../img/home.slide.2.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover; top: 0%;}
section.hero.signup .carousel-inner div:nth-child(3) { background: url('../img/home.slide.3.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover; top: 0%;}
section.hero.signup .carousel-inner div:nth-child(4) { background: #00ffff no-repeat center center fixed; }
section.hero.signup .carousel-inner div h2 { color: #fff; position: absolute; width: 100%; display: block; margin: 0px; }

section.hero.signup .carousel-indicators { top: 60% }
section.hero.signup .carousel-indicators li { background-color: rgba(255,255,255,1)}
section.hero.signup .carousel-indicators .active { background-color: #f45643; }

section.hero.signup .carousel-control { margin-top: 0px;}

form.signupForm { display: block; background-color: rgba(255,255,255,.5); width: 100%; position: absolute; bottom: 0px; margin-bottom: 0px; padding: 20px 0px;}
	form.signupForm h3 { color: #36445f; } 
	form.signupForm button.btn { width: 100%;}

/* Contact Us */
section.contactus { background: url('../img/home.slide.1.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover; top: 0%; }
	section.contactus form { background-color: rgba(244,86,67,.8); margin-top: 20%; }
		section.contactus fieldset { padding: 5px 20px 20px; }
			section.contactus form fieldset h3 { color: #fff; }
			section.contactus form fieldset .control-group:last-of-type { text-align: center; }
			section.contactus form fieldset .control-group:last-of-type > button { background-color: #fff; color: rgba(244,86,67,1); width: 40%; margin: 0px 8px; }

/* used on privacy policy and terms of use pages */
.textpagetitle { margin: 20px 10% 20px 10%; font-size: 22px; font-weight: bold; text-align: center; color: #242C48; font-family: helvetica, sans-serif; }
.textpagebody { margin: 20px 10% 20px 10%; font-size: 14px; color: #242C48; font-family: helvetica, sans-serif; }

/* used on for students page */
.centersection { margin: 0 auto; width: 80%; text-align: center; }
.imagehead { margin: 20px auto 0 auto; width: 100%; max-width: 725px; display:block; }
.imagesubhead { margin: 0 auto 0 auto; width: 100%; max-width: 714px; display:block; }
.studentsgraphic { margin: 30px auto 0 auto; width: 100%; max-width: 875px; display:block; }
.studentsgraphicsmall { display:none; }
.studentsbody { margin: 10px auto 30px auto; width: 100%; max-width: 930px; display:block; }
.studentdescriptionblock { width:26%; height:100px; position:relative; float:left; background-color:#CCC; }
.studentdescriptionblock>div { margin:20px; }

#nav { margin: 0 auto; width: 90%; text-align: center; max-width: 900px;}
.block { width:33%; height:50%; position:relative; float:left; }
.block>div { margin:0 20px 20px; text-align: center; vertical-align: top; font-size: 14px; color: #242C48; font-family: helvetica, sans-serif; }
.block>div>h3 { font-weight: bold; font-size: 14px; margin: 0; padding: 0; }

@media only screen and (max-width: 767px) {
	.studentsgraphic { display:none; }
	.block { width:100%; height:50%; position:relative; float:left; }
	.studentsgraphicsmall { margin: 30px auto 0 auto; width: 100%; max-width: 187px; display:block; }
}

/* timeline */
.events { background: url(../img/blue-tile.jpg) repeat-y top center; height: 600px;}
section.timeline { position: inherit; width: 100%; bottom: 0px; overflow-x: hidden; }
.timeline h3 { text-align: center;}
.event { border: 4px solid #303d5d; height: 200px;}
.space { height: 200px;}


